{% extends "layouts/base.twig" %}
{% block content %}
    <div class="not-found-warning">

        <div class="not-found-warning__content">
        <h1 class="not-found-warning__h">
        error 404
        </h1>
        <p class="not-found-warning__text">
            Page not found
        </p>
        </div>
    </div>
{% endblock %}