{% extends "layouts/base.twig" %}
{% block content %}
    <form id="registration" class="form form__registration">
        <div class="form__header">
            <h3 class="form__header-text">
                Sign up
            </h3>
        </div>
        <div class="form__body">

            <div class="form__field">
                <label class="form__field-label" for="name">
                    <input id="name" class="form__field-input" name="name" type="text" v-model="name" required>
                    <span class="form__field-placeholder">name</span>
                </label>
            </div>
            <div v-if="errors && errors.name" class="field-error__auth">

                <p v-if="errors.name.blank" class="field-error__error-text">[[errors.name.blank]]</p>
                <p v-if="errors.name.lengthMin" class="field-error__error-text">[[errors.name.lengthMin]]</p>
                <p v-if="errors.name.lengthMax" class="field-error__error-text">[[errors.name.lengthMax]]</p>
            </div>
            <div class="form__field">
                <label class="form__field-label" for="login">
                    <input id="login" class="form__field-input" name="login" type="text" v-model="login" required>
                    <span class="form__field-placeholder">login</span>
                </label>
            </div>
            <div v-if="errors && errors.login" class="field-error__auth">
                <p v-if="errors.login.blank" class="field-error__error-text">[[errors.login.blank ]]</p>
                <p v-if="errors.login.lengthMin" class="field-error__error-text">[[errors.login.lengthMin]]</p>
                <p v-if="errors.login.lengthMax" class="field-error__error-text">[[errors.login.lengthMax]]</p>
            </div>
            <div class="form__field">
                <label class="form__field-label" for="email">
                    <input id="email" class="form__field-input" name="email" type="text" v-model="email" required>
                    <span class="form__field-placeholder">email</span>
                </label>
            </div>
            <div v-if="errors && errors.email" class="field-error__auth">
                <p v-if="errors.email.blank" class="field-error__error-text">[[errors.email.blank ]]</p>
                <p v-if="errors.email.unique" class="field-error__error-text">[[errors.email.unique]]</p>
                <p v-if="errors.email.email" class="field-error__error-text">[[errors.email.email]]</p>
            </div>
            <div class="form__field">
                <label class="form__field-label" for="password">
                    <input id="password" class="form__field-input" name="password" type="password" v-model="password"
                           required>
                    <span class="form__field-placeholder">password</span>
                </label>
            </div>
            <div v-if="errors && errors.password" class="field-error__auth">
                <p v-if="errors.password.blank" class="field-error__error-text">[[errors.password.blank ]]</p>
                <p v-if="errors.login.lengthMin" class="field-error__error-text">[[errors.password.lengthMin]]</p>
                <p v-if="errors.login.lengthMax" class="field-error__error-text">[[errors.password.lengthMax]]</p>
            </div>
            <div class="form__field">
                <label class="form__field-label" for="repeat-password">
                    <input type="password" id="repeat-password" class="form__field-input" name="repeat_password"
                           v-model="repeat_password" required>
                    <span class="form__field-placeholder">repeat password</span>
                </label>
            </div>
            <div v-if="errors && errors.repeat_password.equal" class="field-error__auth">
                <p class="field-error__error-text">[[errors.repeat_password.equal ]]</p>
            </div>
            <div class="center">
                <div v-on:click="send" class="btn form__btn">submit</div>
            </div>
        </div>
        {% include "partials/csrf.twig" %}
    </form>
{% endblock %}
{% block script %}

    <script>

        let form = new Vue({
            el: "#registration",
            data: {
                name: null,
                email: null,
                password: null,
                login: null,
                repeat_password: null,
                errors: null

            },
            delimiters: ["[[", "]]"]
            ,
            methods: {
                getErrors: function () {
                    return this.errors;
                },
                send: function () {
                    let form = new FormData();
                    if(this.email)form.append("email", this.email);
                    if(this.password)form.append("password", this.password);
                    if(this.name)form.append("name", this.name);
                    if(this.repeat_password)form.append("repeat_password", this.repeat_password)
                    if(this.login)form.append("login", this.login)

                    form.append("csrf_token", document.getElementById("csrf").value)
                    axios.post("/signup/send", form, {
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json',
                            'X-Requested-With': 'XMLHttpRequest',

                        }
                    })
                        .then((response) => {

                            if (!response.data.hasOwnProperty("errors")) {
                               window.location.href = "/profile";
                            } else {
                                this.errors = response.data.errors

                            }
                        });
                }
            },

        })
    </script>
{% endblock %}