{% include "partials/image.twig" %}
{% include "partials/converter.twig" %}
<script>
    Vue.component('file', {
        props: ['file', 'i'],
        data: function () {
            return {
            }
        },
        methods: {
            cut: function (name) {
                if (name && name.length > 25) {
                    return name.substr(0, 25) + "..."
                } else {
                    return name;
                }
            }
        }
        ,
        delimiters: ["[[", "]]"],
        template: `<div id="file" class="upload-menu__file">
<div class="upload-menu__file-preview">
                              <fileImage :file="file"></fileImage>
</div>

                                <div  class="upload-menu__file-name">
                                    <span :title=[[file.name]]>[[cut(file.name)]]</span>
                                </div> 
                            
                                <div  class="upload-menu__file-size">
                                    <converter v-bind:size="file.size"></converter>
                                </div>
                                 <div @click='$emit("delete",i)' class="upload-menu__file-delete">
                                    <span class="delete-icon"></span>
                                </div>
                            </div>`,
    })
</script>